.vscode

/config/
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# mine
tiled
/server/node_modules
/server/lib
/server/reports
/server/arena.config.ts
/server/src/services/db.ts
server/src/services/db.ts

/vendor

/client/dist/*
/client/node_modules
/client/.parcel-cache
/client/src/game/backend.ts
/client/src/assets/fonts/*

node_modules
LICENSE.md

/config_init

config

_JiGS_client
_JiGS_server
_phaser_server
_phaser_client

/public/

server/.env
client/.env
client/public
