.vscode
.DS_Store
.env*

/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

*node_modules

# mine
tiled
server/.env*
server/lib
server/reports
server/arena.config.ts
server/src/services/db.ts

/vendor

client/.env*
client/public
client/dist/*
client/.parcel-cache
client/src/game/backend.ts
client/src/assets/fonts/*

LICENSE.md

config_init

_JiGS_client
_JiGS_server
_phaser_server
_phaser_client

public/
